/* General Reset & Fonts */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Poppins, sans-serif;
}

/* Body */
body {
    margin: 0 100px;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Headings */
h1, h2 {
    font-family: Poppins, sans-serif;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2em;
}
p {
    font-family: Roboto, sans-serif;
    font-size: 1.15rem;
}

/* Sections */
section {
    margin-bottom: 50px;
    background-color: white;
    border-radius: 10px;
}

/* Header & Navigation */
header {
    display: flex;
    flex-direction: row;
    background: rgb(16, 16, 58);
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}
.logo {
    width: 100px;
    height: auto;
    border: 2px solid white;
    border-radius: 50%;
}
nav {
    padding: 1rem 0;
}
.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.nav-list a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 15px;
    transition: color 0.3s ease;
}
.nav-list a:hover {
    color: #f4f4f4;
    text-decoration: underline;
}

/* Intro */
.intro-text {
    background-color: #f4f4f4;
    margin-top: 2rem;
    text-align: center;
}

/* Buttons */
.btn {
    text-align: center;
    margin-top: 30px;
    display: block;
}
.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 2rem;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    transform-origin: center;
}
.cta-button:hover {
    transform: scale(1.1);
    background-color: #0056b3;
}

/* Home Section */
#home {
    background-color: #f4f4f4;
}
.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    background-color: white;
}
.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.subtitle {
    font-size: 1.2rem;
    font-weight: 600;
    color: #555;
    margin-bottom: 1rem;
}

/* About Section */
#about {
    text-align: justify;
    padding: 5rem 15rem;
    border-radius: 10px;
}
#about p {
    font-style: italic;
}
#about h2 {
    text-align: center;
}
#about h3 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
}
.skills-list, .education-list {
    font-style: italic;
    padding: 0 1rem;
    margin-left: 10px;
    margin-bottom: 1.5rem;
    font-size: 1.12rem;
}
.skills-list li, .education-list li {
    margin-bottom: 0.5rem;
}

/* Video */
.video-wrapper {
    margin-top: 3rem;
    text-align: center;
}
.video-wrapper iframe {
    padding: .5rem;
    width: 100%;
    height: 400px;
    background-color: #ccc;
}
.video-wrapper p {
    margin-bottom: 1rem;
}

/* Projects */
#projects {
    padding: 4rem 15rem;
}
#projects h2 {
    text-align: center;
}
.soon {
    font-style: italic;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 0px;
}

/* Contact */
#contact {
    padding: 4rem 15rem;
    text-align: center;
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.contact-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contact-form label {
    font-weight: bold;
}
.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 70%;
    box-sizing: border-box;
}
.contact-form textarea {
    height: 100px;
    resize: vertical;
    margin-right: 25px;
}
.contact-form button {
    margin: 0 auto;
    padding: 10px;
    width: 200px;
    font-size: 1rem;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.contact-form button:hover {
    background-color: #0056b3;
}
.contact-form .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer */
.footer {
    background-color: #111;
    color: #f4f4f4;
    text-align: center;
    padding: 2.5em 0;
    font-family: Poppins, sans-serif;
    font-size: 0.9rem;
}
.footer .motto {
    font-style: italic;
    font-weight: 500;
    font-size: 0.9rem;
    margin: 0.4em 0;
    color: #00bfff;
}
.footer a {
    color: #00bfff;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s ease;
}
.footer a:hover {
    color: #ffffff;
}

@media (max-width: 768px) {
    body {
        margin: 0 20px;
    }
    header {
        flex-direction: column;
        align-items: center;
    }
    .nav-list {
        flex-direction: column;
        align-items: center;
    }
    .nav-list a {
        padding: 10px 0;
    }
    #about, #projects, #contact {
        padding: 4rem 2rem;
    }
    .contact-form {
        width: 90%;
    }
    .contact-form input,
    .contact-form textarea,
    .contact-form button {
        width: 100%;
    }
}
